<section id="book" class="row" data-book-id="<%= @book.id %>">
  <div id="book-content" class="col-md-8 col-md-push-4">
    <%= link_to "Delete Book", "#", class: "btn btn-danger pull-right", data: {toggle: "modal", target: "#delete-confirmation-modal"} if can? :destroy, @book %>
    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary pull-right" if can? :update, @book %>
    <%= link_to "Invite Author", "#", class: "btn btn-success pull-right", data: {toggle: "modal", target: "#invite-author-modal"} if can? :create, @new_authorship %>
    <%= link_to "Preview", preview_book_path(@book), class: "btn btn-primary pull-right" %>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Versions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @book.versions.each do |version| %>
          <% next if version.new_record? %>
          <li>
            <%= link_to version.version_no, book_book_version_path(@book, version) %>
          </li>
        <% end %>
        <% if can? :create, @new_book_version %>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to "Create New", book_book_versions_path(@book), method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
    <h1><%= @book.title %></h1>
    <div id="section-content">

    </div>
  </div>
  <div id="sidebar" class="col-md-4 col-md-pull-8">
    <div id="chapters-list">
      <%= render @chapters %>
    </div>
    <%= link_to "+ Add New Chapter", "#", id: "new-chapter-form-trigger" if can? :create, @new_chapter %>

    <%= render partial: 'chapters/form', locals: {chapter: @new_chapter} %>
  </div>
</section>

<% if can? :destroy, @book %>
  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="delete-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirm Delete? </h4>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete the book and all its content? If yes, please type in the title of the book below and submit.
          </p>

          <%= form_tag(book_path(@book), method: :delete) do %>

            <div class="form-group">
              <%= text_field_tag(:title_confirmation, "", type: "text", class: "form-control") %>
            </div>
            <%= submit_tag("Confirm", class: "btn btn-danger") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if can? :create, @new_authorship %>
  <!-- Invite Author Modal -->
  <div class="modal fade" id="invite-author-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Invite New Author</h4>
        </div>
        <div class="modal-body">
          <p>
            Please enter the email address of your friend whom you would like to invite as an author to this book.
          </p>

          <%= simple_form_for [@book, @new_authorship], remote: true do |f| %>
            <div class="alert alert-danger hidden" role="alert">Please enter valid email address</div>
            <%= f.input :invitee_email %>
            <%= f.submit "Invite", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
