<div id="<%= dom_id chapter %>" class="chapter clearfix">
  <%= link_to fa_icon('trash'), book_chapter_path(chapter.book, chapter), remote: true, method: :delete, class: "text-danger chapter-delete", data: {confirm: "Are you sure you want to delete the chapter titled: #{chapter.title}? This is irreversible"} %>
  <%= link_to fa_icon('pencil'), edit_book_chapter_path(chapter.book, chapter), remote: true, class: "chapter-edit" %>
  <%= link_to "#", class: "chapter-title", remote: true do %>
    <%= fa_icon 'caret-right' %>
    <%= fa_icon 'caret-down' %>
    <%= chapter.title %>
  <% end %>
  <div class="sections">
    <div class="sections-list">
      <%= render chapter.sections %>
    </div>
    <%= link_to "+ Add Section", "#", data: {toggle: "modal", target: "#new-section-modal-#{chapter.id}"} %>
  </div>
</div>

<!-- New Section Modal -->
<div class="modal fade" id="new-section-modal-<%= chapter.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Section to <%= chapter.title %></h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger hidden" role="alert">
          <%= t 'flash_messages.sections.creation_failure' %>
        </div>
        <%= simple_form_for [chapter.book, chapter, @new_sections[chapter.id]], remote: true do |f| %>
          <%= f.input :title %>
          <%= f.input :notes %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
