<!DOCTYPE html>
<html>
<head>
  <title>BookMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,400italic,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/header' unless landing_page? %>
<div class="<%= 'container' unless landing_page? %>">
  <%= yield %>
</div>
<%= render 'common/footer' unless landing_page? %>
</body>
</html>
